body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  box-shadow: 2px 1px 2px #eee;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
}

.logo {
  width: 30%;
}

.logo img {
  width: 140px;
}

.links a {
  color: #7e7c7c;
  text-decoration: none;
  margin: 20px;
  font-size: 0.9em;
}

span {
  font-size: 25px;
  color: #454444;
  margin-left: 10px;
  cursor: pointer;
  height: 5px;
}

.home-img {
  height: 65vh;
  width: 80%;
}

.home-img img {
  max-width: 50vw;
}

.home-content {
  width: 80%;
}

.home-content h1 {
  font-weight: 500;
  font-size: 2.8em;
  margin: 0;
}

.home-content p {
  font-size: 1.2em;
  color: #494848;
  font-weight: 300;
}

.button {
  font-size: 1.2em;
  padding: 14px 30px;
  color: #fff;
  background-color: #387ed1;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}

.button:hover {
  background: #000;
}

/* Basic styling for the form container */
.portfolio-calc {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the form heading */
.portfolio-calc h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

/* Styling for form labels and input fields */
.portfolio-calc label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.portfolio-calc input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling for the Calculate button */
.portfolio-calc #submit {
  background-color: #387ed1;
  color: #fff;
  cursor: pointer;
}

/* Styling for the result display */
.amount {
  margin-top: 20px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 4px;
}
